*{
    margin:0;
  }
  
  body {
      margin: 0px;
      font-family: 'Roboto', sans-serif;
  }

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*ESTILO GERAIS*/

.logo{
    position: absolute;
    left: 0px;
    top: -5px;
}

.menu-nav-mobile-menu{
    display: none;
}

.menu-nav-li{
    display: flex;
    justify-content: end;
    padding: 30px;
    background-color: #3e92d6;
    font-size: 1.2rem;
    gap: 15px;
    position: relative;
}

.menu-nav-li a{
    padding: 10px;
    color: #fff;
    transition: .3s;
}

.menu-nav-li a:hover{
    background-color: #fff;
    color: #3e92d6;
    transition: .3s;
    border-radius: 30px;
}

.apresentacao{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    margin-top: 100px;
}

.seguro{
    font-size: 1rem;
    position: relative;
    right: -25px;
}

.seguro::before {
    content: "";
    width: 6px;
    right: 510px;
    height: 21px;
    position: absolute;
    background-color: #3e92d6;
  }

.frase{
    font-size: 2.5rem;
    margin-top: 30px;
}

.textoapresentacao{
    grid-column: 2;
    margin-top: 50px;
}

.posbotao{
    margin-top: 60px;
    text-align: center;
    margin-right: 50px;
}

.btnservicos{
    display: inline-block;
    color: #fff;
    background-color: #3e92d6;
    padding: 10px 21px;
    border-radius: 5px;
    border: none;
    border-radius: 10px;
    transition: background .2s;
    cursor: pointer;
    transition: .2s;
}

.btnservicos:hover{
    background-color: #8ec4f0;
    color: #6e6d6d;
    transition: .2s;
    transform: scale(1.1); 
}

.linkcontato:hover{
    color: #8ec4f0;
    transition: .2s;
}

.nossos-servicos{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
    background-color: #3e92d6;
    height: 750px;
}

.servicos-titulo{
    grid-column: 1;
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

.servico-morte{
    grid-column: 1;
    background-color: #fff;
    border-radius: 5px;
    height: 420px;
    margin-top: -120px;
}

.servico-invalidez{
    grid-column: 2;
    background-color: #fff;
    border-radius: 5px;
    height: 420px;
    margin-top: -120px;
}

.servico-doencas-graves{
    grid-column: 3;
    background-color: #fff;
    border-radius: 5px;
    height: 420px;
    margin-top: -120px;
}

.morte{
    text-align: center;
    margin-top: 10px;
}

.invalidez{
    text-align: center;
    margin-top: 10px;
}

.doencas{
    text-align: center;
    margin-top: 10px;
}

.texto-morte{
    margin: 20px;
    margin-top: 40px;
}

.texto-invalidez{
    margin: 20px;
    margin-top: 40px;
}

.texto-doencas{
    margin: 20px;
    margin-top: 40px;
}

.img-morte{
    margin-top: 20px;
    margin-left: 55px;
}

.img-invalidez{
    margin-top: 20px;
    margin-left: 55px;
}

.img-doencas{
    margin-top: 20px;
    margin-left: 55px;
}

.seguradoras{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 50px;
    margin-top: -40px;
    height: 750px;
}

.seguradoras-titulo{
    grid-column: 1;
    text-align: center;
    color: #000000;
    margin-top: 150px;
    margin-right: 100px;
}

.texto-seguros{
    grid-column: 1/-1;
    color: #000000;
    z-index: 5;
    margin-top: -65px;
}

.bradesco-seguros{
    position: relative;
    grid-column: 1;
    background-color: #b3b3b3;
    border-radius: 5px;
    height: 420px;
    margin-top: -80px;
    height: 420px;
}

.porto-seguros{
    position: relative;
    grid-column: 2;
    background-color: #b3b3b3;
    border-radius: 5px;
    height: 420px;
    margin-top: -80px;
    height: 420px;
}

.caixa-seguros{
    position: relative;
    grid-column: 3;
    background-color: #b3b3b3;
    border-radius: 5px;
    height: 420px;
    margin-top: -80px;
    height: 420px;
}

.btncontrate-bradesco{
    position: absolute;
    color: #fff;
    background-color: #3e92d6;
    padding: 6px 17px;
    border-radius: 5px;
    border: none;
    border-radius: 10px;
    transition: background .2s;
    cursor: pointer;
    transition: .2s;
    margin-top: 320px;
    right: 84px;
}

.btncontrate-bradesco:hover{
    background-color: #8ec4f0;
    color: #6e6d6d;
    transition: .2s;
    transform: scale(1.1); 
}

.btncontrate-porto{
    position: absolute;
    color: #fff;
    background-color: #3e92d6;
    padding: 6px 17px;
    border-radius: 5px;
    border: none;
    border-radius: 10px;
    transition: background .2s;
    cursor: pointer;
    transition: .2s;
    margin-top: 320px;
    right: 84px;
}

.btncontrate-porto:hover{
    background-color: #8ec4f0;
    color: #6e6d6d;
    transition: .2s;
    transform: scale(1.1); 
}

.btncontrate-caixa{
    position: absolute;
    color: #fff;
    background-color: #3e92d6;
    padding: 6px 17px;
    border-radius: 5px;
    border: none;
    border-radius: 10px;
    transition: background .2s;
    cursor: pointer;
    transition: .2s;
    margin-top: 320px;
    right: 84px;
}

.btncontrate-caixa:hover{
    background-color: #8ec4f0;
    color: #6e6d6d;
    transition: .2s;
    transform: scale(1.1); 
}

.bradesco{
    margin: 10px;
}

.porto{
    margin: 10px;
}

.caixa{
    margin: 10px;
}

.img-bradesco{
    margin-top: 50px;
    margin-left: 45px;
}

.img-porto{
    margin-top: 50px;
    margin-left: 20px;
}

.img-caixa{
    margin-top: 65px;
    margin-left: 80px;
}









@media (min-width: 400px)  and (max-width:500px) {

    a{
        color: #ffffff;
    }
    
    .menu-nav-li{
        display: none;
    }
    
    .logo{
        position: absolute;
        left: -20px;
        top: -20px;
    }
    
    .menu-nav-mobile-menu{
        display: block;
    }
    
    .menu-mobile{
        z-index: 3;
        display: block;
        position: fixed;
        font-family: 'Great Vibes';
        font-size: 1.1rem;
        padding: 5px;
        top: 50px;
        right: 70px;
        background-color: transparent;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(60px, 0px, 0px);
        transition: .3s;
        color: #000000;
        background-color: #3e92d6;
        border-radius: 6px;
        }
      
      .menu-mobile a:hover{
        color: #000000;
        transition: transform 0.3s ease-in-out;
        transition: .2s;
      }
      
      .menu-mobile.active{
        opacity: 1;
        visibility: visible;
        transform: translate3d(60px, 0px, 0px);
        z-index: 3;
      }
      
      .mobile-btn{
        display: block;
        cursor: pointer;
        color: #3e92d6;
        width: 36px;
        height: 36px;
        right: -10px;
        top: -10px;
        border-top: 4px solid;
        margin: 20px 20px 0 0;
        float: left;
        position: relative;
        position: fixed;
        z-index: 3;
      }
      
      .mobile-btn::after , .mobile-btn::before{
        content: "";
        display: block;
        height: 4px;
        margin-top: 6px;
        background: currentColor;
        position: relative;
        transition: transform .3s ease;
      }
      
      .mobile-btn.active{
        border-top-color: transparent;
      }
      
      .mobile-btn.active::after{
        margin-top: 0px;
        top: 2px;
        transform: rotate(45deg);
      }
      
      .mobile-btn.active::before{
        margin-top: 0px;
        top: 6px;
        transform: rotate(135deg);
      }

      .apresentacao{
        display: grid;
        grid-template-columns: 400px;
        justify-content: center;
        margin-top: -100px;
    }
    
    .seguro{
        font-size: 1rem;
        position: relative;
        right: 130px;
        text-align: center;
        margin-top: 170px;
    }
    
    .seguro::before {
        content: "";
        width: 6px;
        right: 260px;
        height: 21px;
        position: absolute;
        background-color: #3e92d6;
      }
    
    .frase{
        font-size: 2rem;
        margin-top: 20px;
    }
    
    .textoapresentacao{
        grid-column: 1;
        margin-top: 50px;
        grid-row: 1;
    }

    .familia{
        display: none;
    }

    .ou{
        display: none;
    }

    .posbotao{
        margin-top: 30px;
    }

    .nossos-servicos{
        margin-top: 90px;
        grid-template-columns: 300px;
        height: 1600px;
    }

    .servico-morte{
        grid-column: 1;
        margin-top: 5px;
    }
    
    .servico-invalidez{
        grid-column: 1;
        margin-top: -25px;
    }
    
    .servico-doencas-graves{
        grid-column: 1;
        margin-top: -25px;
    }

    .seguradoras{
        display: grid;
        grid-template-columns: 300px;
    }

    .bradesco-seguros{
        grid-column: 1;
        margin-top: 0px;
    }
    
    .porto-seguros{
        grid-column: 1;
        margin-top: 0px;
    }

    .caixa-seguros{
        grid-column: 1;
        margin-top: 0px;
    }

    .seguradoras-titulo{
        text-align: center;
        margin-top: 100px;
        margin-left: 65px;
    }
    
    .texto-seguros{
        color: #000000;
        margin-top: -20px;
       text-align: center;    
    }

    
    
}

@media (min-width: 501px)  and (max-width:600px) {

a{
    color: #ffffff;
}

.menu-nav-li{
    display: none;
}

.logo{
    position: absolute;
    left: -20px;
    top: -20px;
}

.menu-nav-mobile-menu{
    display: block;
}

.menu-mobile{
    z-index: 3;
    display: block;
    position: fixed;
    font-family: 'Great Vibes';
    font-size: 1.1rem;
    padding: 5px;
    top: 50px;
    right: 70px;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(60px, 0px, 0px);
    transition: .3s;
    color: #000000;
    background-color: #3e92d6;
    border-radius: 6px;
    }
  
  .menu-mobile a:hover{
    color: #000000;
    transition: transform 0.3s ease-in-out;
    transition: .2s;
  }
  
  .menu-mobile.active{
    opacity: 1;
    visibility: visible;
    transform: translate3d(60px, 0px, 0px);
    z-index: 3;
  }
  
  .mobile-btn{
    display: block;
    cursor: pointer;
    color: #3e92d6;
    width: 36px;
    height: 36px;
    right: -10px;
    top: -10px;
    border-top: 4px solid;
    margin: 20px 20px 0 0;
    float: left;
    position: relative;
    position: fixed;
    z-index: 3;
  }
  
  .mobile-btn::after , .mobile-btn::before{
    content: "";
    display: block;
    height: 4px;
    margin-top: 6px;
    background: currentColor;
    position: relative;
    transition: transform .3s ease;
  }
  
  .mobile-btn.active{
    border-top-color: transparent;
  }
  
  .mobile-btn.active::after{
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg);
  }
  
  .mobile-btn.active::before{
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg);
  }

  .apresentacao{
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;
    margin-top: -100px;
}

.seguro{
    font-size: 1rem;
    position: relative;
    right: 130px;
    text-align: center;
    margin-top: 170px;
}

.seguro::before {
    content: "";
    width: 6px;
    right: 260px;
    height: 21px;
    position: absolute;
    background-color: #3e92d6;
  }

.frase{
    font-size: 2rem;
}

.textoapresentacao{
    grid-column: 1;
    margin-top: 50px;
    grid-row: 1;
}

.familia{
    display: none;
}

.ou{
    display: none;
}

.posbotao{
    margin-top: 30px;
}

.nossos-servicos{
    margin-top: 90px;
    grid-template-columns: 300px;
    height: 1600px;
}

.servico-morte{
    grid-column: 1;
    margin-top: 5px;
}

.servico-invalidez{
    grid-column: 1;
    margin-top: -25px;
}

.servico-doencas-graves{
    grid-column: 1;
    margin-top: -25px;
}

.seguradoras{
    display: grid;
    grid-template-columns: 300px;
}

.bradesco-seguros{
    grid-column: 1;
    margin-top: 0px;
}

.porto-seguros{
    grid-column: 1;
    margin-top: 0px;
}

.caixa-seguros{
    grid-column: 1;
    margin-top: 0px;
}

.seguradoras-titulo{
    text-align: center;
    margin-top: 100px;
    margin-left: 65px;
}

.texto-seguros{
    color: #000000;
    margin-top: -20px;
   text-align: center;    
}

}
